<md-card>
  <section>
    <img src="http://openweathermap.org/img/w/{{icon}}.png" alt="{{description}}" />
    <h1>{{ city }}</h1>
    <h2>{{ temp }} {{ measure}}</h2>
    <p>{{ description}}</p>
    <br>
    <div class="center-element">
      <span class="fill"></span>
      <button md-raised-button color="accent" (click)="toggleTemp()">Toggle F/C</button>
    </div>
    
  </section>
</md-card>